
.footer {
  text-align: left;
  // padding: 1rem 0;
  font-size: 0.8rem;
  font-weight: 500;
  border-top: 2px solid var(--border);
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 15px;
  gap: 1rem;  
  p {
    margin: 0;
    max-width: 900px;

    a {
      color: var(--primary);
      text-decoration: underline;
      transition: color 0.3s ease;

      &:hover {
        color: var(--text);
      }
    }
  }
}
@media (max-width: 768px) {
  .footer{
    justify-content: center;
    flex-wrap: wrap;
  }
}