/* Footer.module.scss */
.footer {
  text-align: left;
  padding: 1rem 0;
  font-size: 0.8rem;
  font-weight: 500;
  border-top: 2px solid var(--border);
  line-height: 1.5;

  p {
    margin: 0 auto;
    max-width: 900px;

    a {
      color: var(--text);
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: #1eb955;
      }
    }
  }
}
